{% load static %}
<html>
    <head>
        <title>Blog</title>
        <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
        <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">
        <link href='//fonts.googleapis.com/css?family=Lobster&subset=latin,latin-ext' rel='stylesheet' type='text/css'>
        <link rel="stylesheet" href="{% static 'css/blog.css' %}">
    </head>
    <body>
        <div class="page-header">
            {% if user.is_authenticated %}
                <!--#新しいpost_newのviewを呼び出す-->
                <a href="{% url 'yotei_post_new' %}" id="yotei" class="top-menu"><img width = "50" src = "{% static 'images/yotei.png' %}"></a>
                <a href="{% url 'kadai_post_new' %}" class="top-menu"><img width = "50" src = "{% static 'images/kadai.png' %}"></a>
                <a href="{% url 'souziki_post_new' %}"  id="souziki" class="top-menu"><img width = "50" src = "{% static 'images/souziki.png' %}"></a>
                <a href="{% url 'baito_post_new' %}" class="top-menu"><img width = "50" src = "{% static 'images/baito.png' %}"></a>
                <a href="{% url 'zyugyou_post_new' %}" class="top-menu"><img width = "50" src = "{% static 'images/zyugyou.png' %}"></a>
                <a id="openModal"><img width = "50" src = "{% static 'images/sonota.png' %}"></a>

                <!-- モーダルエリアここから -->
                <section id="modalArea" class="modalArea">
                    <div id="modalBg" class="modalBg"></div>
                    <div class="modalWrapper">
                        <div class="modalContents">
                            フォームを入れたい
                            <!--<a href="{% url 'zyugyou_post_new' %}"></a>-->
                        </div>
                        <div id="closeModal" class="closeModal">×</div>
                    </div>
                </section>
                <!-- モーダルエリアここまで -->
                
                <!-- ↓body閉じタグ直前でjQueryを読み込む -->
                <script type="text/javascript" src="//ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js">showModalDialog("post/list.html")</script>
                <script src="{% static 'javascript/kari.js' %}"></script>
        

            {% endif %}
            <!--ブログのところ押したら秘書選択ではなくブログページへ-->
            <h1><a href="/post?">2023 ／ 10</a></h1>
            <img src =  '{% static "image/cal.png" %}'  width="700px">
            <img src =  '{% static "image/boy1.png" %}'  width="300px">
        </div>
        <div class="content container">
            <div class="row">
                <div class="col-md-8">
                {% block content %}
                {% endblock %}
                </div>
            </div>
        </div>
    </body>
</html>