{% extends 'blog/base.html' %}
{% load static %}

{% block content %}
<div class = "coment">
    <img src =  '{% static "images/cale2.png" %}'  width="650px">
    <img src =  '{% static "image/boy1.png" %}'  width="300px">
    <img src =  '{% static "image/k4.png" %}'  width="300px">
</div>

    <h3>タスク一覧</h3>
    {% for post in posts %}
        <div class="post2">
            <div class="date">
                {%if post.deadline > today%}
                    <div class="safe">締め切り：{{ post.deadline}}</div>
                {% else %}
                    <div class="out">締め切り：{{ post.deadline}}</div>
                {% endif %}
            </div>
            <h2><a href="{% url 'post_detail' pk=post.pk %}">{{ post.title}}</a></h2><p>{{ post.text|linebreaksbr }}</p>
        </div>
    {% endfor %}
    <h3>今日の予定</h3>
    {% for post2 in posts2 %}
        <div class="post1">
            <div class="date">
                {%if post2.start_data < today_f %}
                    <!--{%if today_s < post2.start_data %}-->
                        <h2><a href="{% url 'post_detail' pk=post2.pk %}">{{ post2.title}}</a></h2><p>{{ post2.text|linebreaksbr }}</p>
                        <p>{{ post2.start_data}}~{{ post2.finish_data}}</p>
                    <!--{% endif %}-->
                {% endif %}
            </div>
        </div>
    {% endfor %}

{% endblock %}