{% load static %}
<html>
    <head>
        <link rel="stylesheet" href="{% static 'css/start.css' %}">

        <h1>My Butler</h1>
        <h3>お好みの秘書を選んでください</h3>

        <div>
    
        <img src =  '{% static "image/left.png" %}'  width="40px">
        <a href = "{%url 'post_list' %}" ><img src =  '{% static "image/boy1.png" %}'  class=”scale-img” width="200px"></a>
        <a href = "{%url 'post_list' %}" ><img src =  '{% static "image/boy2.png" %}'  class=”scale-img” width="150px"></a>
        <a href = "{%url 'post_list' %}" ><img src =  '{% static "image/boy3.png" %}'  class=”scale-img” width="170px"></a>
        <a href = "{%url 'post_list' %}" ><img src =  '{% static "image/boy4.png" %}'  class=”scale-img” width="190px"></a>
        <a href = "{%url 'post_list' %}" ><img src =  '{% static "image/boy5.png" %}'  class=”scale-img” width="150px"></a>
        <img src =  '{% static "image/right.png" %}'  width="40px">

        </div>

    </head>
</html>