{% load static %}
<html>
    <head>

        <p>秘書を選んでください！</p>
    
        <img src =  '{% static "image/left.png" %}'  width="40px">
        <a href = "{%url 'post_list' %}" ><img src =  '{% static "image/boy1.png" %}'  width="150px"></a>
        <a href = "{%url 'post_list' %}" ><img src =  '{% static "image/boy2.png" %}'  width="100px"></a>
        <a href = "{%url 'post_list' %}" ><img src =  '{% static "image/boy3.png" %}'  width="120px"></a>
        <a href = "{%url 'post_list' %}" ><img src =  '{% static "image/boy4.png" %}'  width="130px"></a>
        <a href = "{%url 'post_list' %}" ><img src =  '{% static "image/boy5.png" %}'  width="100px"></a>
        <img src =  '{% static "image/right.png" %}'  width="40px">
        <p></p>
        
    </head>
</html>